.header {
    background-color: #0078d4;
    text-align: center;
    padding: 20px;
  }

.header h1 {
    color: #ddd;
}

  /* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

body {
    font-family: "Rubik", sans-serif;
  }

table, th, td {
    border: 1px solid black;
}

/* FORM STYLE BELOW */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #0078d4;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: large;
  }